main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

main .main-title {
  margin-bottom: 6rem;
  font-size: 42px;
}

.courses-section {
  max-width: 110%;
  position: relative;
}

.bg-color {
  position: absolute;
  top: 30%;
  left: -5%;
  width: 110%;
  height: 250px;
  background-color: #4a86d4;
  z-index: 1;
}

.courses {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  max-width: 100%;
  z-index: 10;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 300px;
  padding: 20px;
  background-color: white;
  transition: 0.4s;
}

.box .title {
  width: 90%;
  margin-top: 10px;
  font-size: 18px;
}

.box .lower-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px 10px 0px;
}

.box .lower-itens h4 {
  font-size: 20px;
}

.box:hover {
  transform: scale(1.1);
}
