.modal-login {
  width: 40%;
  height: 80%;
  margin: 5% auto;
  border-radius: 5px;
  background-color: white;
}

.modal-login h1 {
  margin: 70px 0;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  text-align: center;
}

.login-form .input-box {
  width: 100%;
}

.login-form .input-box input[type="email"],
input[type="password"],
.login-btn {
  width: 80%;
  padding: 10px 5px;
  border: 1px solid #2b2a2a;
}

.login-form .input-box {
  position: relative;
}

/* Label animation */

.login-form .input-box span {
  position: absolute;
  left: 12%;
  top: 25%;
  width: 50px;
  text-align: center;
  transition: 0.3s;
}

.login-form .input-box input:valid ~ span,
.login-form .input-box input:focus ~ span {
  font-size: 13px;
  top: -13%;
  color: #2b2a2a;
  background-color: white;
}

.login-form .login-btn {
  font-size: 18px;
  background-color: #3179d7;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form .login-btn:hover {
  background-color: #2a6abd;
}

.login-form .close-modal-btn {
  position: absolute;
  top: 5%;
  left: 88%;
  font-size: 32px;
  cursor: pointer;
}

.visible {
  display: block;
}

@media (max-width: 991px) {
  .modal-login {
    width: 50%;
    height: 70%;
  }

  .modal-login h1 {
    font-size: 30px;
    margin: 50px 0;
  }

  .login-form .close-modal-btn {
    top: 2%;
    left: 88%;
    font-size: 30px;
  }

  .login-form .input-box input[type="email"],
  input[type="password"],
  .login-btn {
    padding: 8px 4px;
  }
}

@media (max-width: 590px) {
  .modal-login {
    width: 80%;
    height: 60%;
  }

  .modal-login h1 {
    font-size: 24px;
    margin: 50px 0;
  }

  .login-form .close-modal-btn {
    left: 85%;
    font-size: 24px;
  }
}
