.modal-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%;
  height: 80%;
  border-radius: 5px;
}

.modal-login h1 {
  text-align: center;
  margin: 70px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.login-form .input-box input[type="email"],
input[type="password"],
.login-btn {
  width: 300px;
  padding: 10px 5px;
}

.login-form .input-box {
  position: relative;
}

/* Label animation */

.login-form .input-box span {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 50px;
  text-align: center;
  transition: 0.3s;
}

.login-form .input-box input:valid ~ span,
.login-form .input-box input:focus ~ span {
  font-size: 13px;
  top: -13%;
  color: #2b2a2a;
  background-color: white;
}

.login-form .login-btn {
  font-size: 18px;
  background-color: #3179d7;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form .login-btn:hover {
  background-color: #2a6abd;
}

.login-form .close-modal-btn {
  position: absolute;
  top: 5%;
  left: 90%;
  font-size: 32px;
  cursor: pointer;
}

.visible {
  display: block;
}
