footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 6.5rem;
  padding-bottom: 15rem;
  background-color: #3179d7;
}

.label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 70%;
  padding: 2.5rem 1rem 2.5rem 1rem;
  background-color: white;
}

.label .left-text {
  text-align: center;
}

.label .left-text h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.label .left-text p {
  font-size: 14px;
  color: #545252;
}

.label .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 235px;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #10b817;
}

.label .btn img {
  width: 20px;
}

@media (max-width: 1100px) {
  .label {
    flex-direction: column;
    gap: 1rem;
  }
  .label .left-text {
    text-align: center;
  }

  .label .left-text p {
    text-align: center;
  }

  .label .btn {
    height: 40px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .label .btn {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .label {
    width: 100%;
  }

  .label .left-text h1 {
    font-size: 20px;
  }

  .label .left-text p {
    font-size: 12px;
  }

  .label .btn {
    width: 175px;
  }
}

@media (max-width: 330px) {
  .label .left-text h1 {
    font-size: 16px;
  }
}
