.enroll {
  display: flex;
  align-items: center;
  padding-top: 3.5rem;
  margin: 0 auto;
  max-width: 90%;
}

.enroll .texts {
  display: flex;
  flex-direction: column;
  margin-left: 2.8rem;
  gap: 1rem;
}

.enroll .texts h1 {
  font-size: 42px;
  font-weight: 400;
}

.enroll .texts .text {
  color: #545252;
  font-size: 18px;
}

.enroll .texts .btn {
  width: 190px;
  margin-top: 1.6rem;
  padding: 15px 5px 15px 5px;
  font-size: 22px;
  text-align: center;
  color: white;
  background-color: #3179d7;
}

@media (max-width: 1200px) {
  .enroll {
    flex-direction: column;
  }

  .enroll .texts h1 {
    font-size: 32px;
  }

  .enroll .texts .text {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .enroll img {
    display: none;
  }

  .enroll .texts h1 {
    font-size: 28px;
    max-width: 80%;
  }

  .enroll .texts .text {
    font-size: 14px;
  }

  .enroll .texts .btn {
    font-size: 18px;
  }
}
